<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profanity Check</title>
</head>
<body>
    <h1>
        <p>
            <form action="/" method="post">
                <input type="text" name="content" id="content"/>
                 <input type="submit" value="Check Profanity"/>
            </form>
            <p>
                The input text: {{input}}
            </p>
            <p>
               Contains swear word(s): {{result}}
            </p>
            <p>
                probability this sentence is offensive : {{probability}}
            </p>

        </p>
    </h1>
</body>
</html>